<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangqisi.mapper.AboutusMapper" >
  <resultMap id="BaseResultMap" type="com.yangqisi.pojo.Aboutus" >
    <id column="id" property="id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yangqisi.pojo.Aboutus" extends="BaseResultMap" >
    <result column="jianjie" property="jianjie" jdbcType="LONGVARCHAR" />
    <result column="wenhua" property="wenhua" jdbcType="LONGVARCHAR" />
    <result column="lianxi" property="lianxi" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id
  </sql>
  <sql id="Blob_Column_List" >
    jianjie, wenhua, lianxi
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yangqisi.pojo.AboutusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yangqisi.pojo.AboutusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from aboutus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from aboutus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yangqisi.pojo.AboutusExample" >
    delete from aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yangqisi.pojo.Aboutus" >
    insert into aboutus (id, jianjie, wenhua, 
      lianxi)
    values (#{id,jdbcType=INTEGER}, #{jianjie,jdbcType=LONGVARCHAR}, #{wenhua,jdbcType=LONGVARCHAR}, 
      #{lianxi,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yangqisi.pojo.Aboutus" >
    insert into aboutus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jianjie != null" >
        jianjie,
      </if>
      <if test="wenhua != null" >
        wenhua,
      </if>
      <if test="lianxi != null" >
        lianxi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jianjie != null" >
        #{jianjie,jdbcType=LONGVARCHAR},
      </if>
      <if test="wenhua != null" >
        #{wenhua,jdbcType=LONGVARCHAR},
      </if>
      <if test="lianxi != null" >
        #{lianxi,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yangqisi.pojo.AboutusExample" resultType="java.lang.Integer" >
    select count(*) from aboutus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update aboutus
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.jianjie != null" >
        jianjie = #{record.jianjie,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.wenhua != null" >
        wenhua = #{record.wenhua,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.lianxi != null" >
        lianxi = #{record.lianxi,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update aboutus
    set id = #{record.id,jdbcType=INTEGER},
      jianjie = #{record.jianjie,jdbcType=LONGVARCHAR},
      wenhua = #{record.wenhua,jdbcType=LONGVARCHAR},
      lianxi = #{record.lianxi,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update aboutus
    set id = #{record.id,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yangqisi.pojo.Aboutus" >
    update aboutus
    <set >
      <if test="jianjie != null" >
        jianjie = #{jianjie,jdbcType=LONGVARCHAR},
      </if>
      <if test="wenhua != null" >
        wenhua = #{wenhua,jdbcType=LONGVARCHAR},
      </if>
      <if test="lianxi != null" >
        lianxi = #{lianxi,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yangqisi.pojo.Aboutus" >
    update aboutus
    set jianjie = #{jianjie,jdbcType=LONGVARCHAR},
      wenhua = #{wenhua,jdbcType=LONGVARCHAR},
      lianxi = #{lianxi,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>